# Environment files
.env
.env.local

# Python bytecode
*.pyc
__pycache__/

# Django database
db.sqlite3

# Static and media and build files
/static/
/media/
/build/

# IDE-specific files
.vscode/
.idea/

/node_modules

.venv/*

.env/
/venv
venv/pyvenv.cfg
typescript
venv/pyvenv.cfg
scripts/data/rbv_show_images/.DS_Store
scripts/data/show_images/.DS_Store
scripts/data/.DS_Store
scripts/data/rbv_brand/.DS_Store
scripts/data/rbv_monthly_colors/.DS_Store
.DS_Store
/venv
