# Environment files
.env
.env.local

# Python bytecode
*.pyc
__pycache__/

# Django database
db.sqlite3

# Static and media and build files
/static/
/media/
/build/

# IDE-specific files
.vscode/
.idea/

/node_modules

.venv/*

